{% extends 'base.html' %} {% block title %} Cadastro de Produtos {% endblock %}

{% block content %} 

    </br>
    <h3>Produtos</h3>
    </br>

    <style>
        .inativo {
          color: gray;
          font-style: italic;
          background-color: #f0f5f5;
        }
    </style>

    <div class="table-responsive">
        {% if not listaProdutos %}
            <p>Nenhum produto cadastrado ainda, que tal começar? </p>
        {% elif produtos %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Status</th>
                    <th scope="col">Vendedor</th>
                </tr>            
            </thead>

            <th scope="row">
                {% for produto in produtos %}
                {% endfor %}
            </th>
            <td>
                {% for produto in produtos %}

            </td>

            <tbody>
                {% if not produto.prod_inativo %}
				<td> {{produto.prod_codigo}}</td>
                <td> {{produto.prod_nome}} </td>
                <td> {{produto.prod_descricao}} </td>
                <td> {{produto.prod_preco}} </td>
                <td> {{produto.prod_qtd}} </td>
                <td> Ativo</td>                             
                <td> {{produto.vend_id}} </td> 
				{% endif %}
                
            
            {% endfor %}
            </tbody>
        </table>
        {% else %}
          <p>Produto não encontrado. </p>
        {% endif %}

        
    </div>


        

{% endblock %}