{% extends "base_registration.html" %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Área exclusiva para vendedores cadastrados</div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-4 text-left">
              <img src="https://drive.google.com/thumbnail?id=15Djk8yCLuS75G7rUTFLHmcWeOk6hDF3g" class="img-responsive" width="150" height="150">
            </div>

            <div class="col-md-8">
              <form method="post" action="submit">
                {% csrf_token %}
                <input type="text" class="form-control mb-2" placeholder="Usuário" id="user"  name="user"required autofocus />
                <input type="password" class="form-control mb-2" placeholder="Senha" id="senha" name="senha" required />
                {% for message in messages %}
                <div class = "alert alert-danger">
                  <strong>Erro:</strong> {{message}}
                </div>
                {%endfor%}
                
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Entrar </button>
                <input type="hidden" name="next" value="{{ next }}" />
              </form>
              
            </div>
          </div>
        </div>
      </div>
      <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
    </div>
  </div>
</div>

  <!-- {% if form.errors %}
    <p>Seu nome de usuário e senha não coincidem. Por favor, tente novamente.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Sua conta não tem acesso a esta página. Para continuar, faça login com uma conta que tenha acesso.</p>
    {% else %}
      <p>Por favor, faça o login para ver esta página.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Entrar" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p> -->
  
{% endblock %}